body {
	margin: 0;
	font-family: Ahellya, serif !important;
	font-size: 14px;
	line-height: 1.5;
}

a {
    color: #3d4720 !important;
}

a:visited, a:hover, a:active {
    color: #a7562b !important;
}

content {
	background-color: #140b05 ;
    color: #e6d6c6;
    min-height: 100vh;
    padding-bottom: 8em;
}

.btn-link {
	font-family: Ahellya, serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #e6d6c6;
	font-family: Ahellya, serif;
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

 .cover {
	 top: -1em;
	 min-height : 100vh;
	 padding-top : 20vh;
 }

h1 {
	font-size: 2em;
}

 p {
	 font-size: 1.5em;
 }

.block-img {
	text-align: center;
}
 .block-img > img {
	 margin: 10vh 0;
		max-width:100%;
		max-height:90vh;
	}

 iframe {
	 display:block;
	 margin: 0 auto;
	 width: 100% !important;
	 height: 80vh !important;
	 max-height: 100%;
 }

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 500px) {
	body {
		font-size: 16px;
	}
}

@font-face {
    font-family: "Zeit Light";
    src: url("Zeit-Light.otf") format("opentype"),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Happy Time";
    src: url("HappyTime.otf") format("opentype"),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Prida01";
    src: url("Prida01.otf") format("opentype"),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poison";
    src: url("Poison-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ahellya";
    src: url("ahellya.ttf");
}

@font-face {
    font-family: "Ahellya";
    src: url("ahellya-italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Livia Medium";
    src: url("Livia Medium.ttf") format("truetype"),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Typography Times";
    src: url("Typography Times Regular.ttf") format("truetype"),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Thryromanes";
    src: url("thryn___.ttf") format("truetype"),
    font-weight: normal;
    font-style: normal;
}
